<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
</style>
</head>
<body>

<ul>
  <li><a href="/views/welcome">Home</a></li>
  <li><a href="/user/profile">Profile</a></li>
  <!-- <li><a href="/views/user_update">Update Profile</a></li> -->
  <li><a href="/views/reset_pass">Reset password</a></li>
  <ul style="float:right;list-style-type:none;">
    <li><a class="active" href="#about">About</a></li>
    <li><a href="/user/logout">Logout</a></li>
  </ul>
</ul>

</body>
</html>



<h2>Your Information :</h2>

<table border=1 cellpadding="5">
<tr>
	<th>User Name</th>
	<!-- <th>Password</th> -->
	<th>First Nname</th>
	<th>Last Nname</th>
	<th>address1</th>
	<th>address2</th>

</tr>
<% data.user_data.forEach(function (users) { %>
<tr>
	<td><%= users.username %></td>
	<td><%= users.fname %></td>
	<td><%= users.lname %></td>
	<% data.useradd_data.forEach(function (useradd) { %>
	<td><%= useradd.address1 %></td>
 	<td><%= useradd.address2 %></td>
	<% }); %>
	</tr>
<% }); %>	
</table>	