
<h2>User Information :</h2>

<table border=1 cellpadding="5">
<tr>
	<th>User Name</th>
	<th>Password</th>
	<th>First Nname</th>
	<th>Last Nname</th>
	<th>address1</th>
	<th>address2</th>

</tr>
<% data.user_data.forEach(function (users) { %>
<tr>
	<td><%= users.username %></td>
	<td><%= users.fname %></td>
	<td><%= users.lname %></td>
	<% data.useradd_data.forEach(function (useradd) { %>
	<td><%= useradd.address1 %></td>
 	<td><%= useradd.address2 %></td>
 	<td><%= useradd.address2 %></td>
	<% }); %>
	</tr>
<% }); %>	
</table>

</br> <a href= "/user/logout"><button type= "button">Logout</button></a>