
<h2>User Information :</h2>

<table border=1 cellpadding="5">
<tr>
	<th>User Name</th>
	<th>Password</th>
	<th>First Nname</th>
	<th>Last Nname</th>
	<th>address1</th>
	<th>address2</th>

</tr>
<% data.userCount.forEach(function (users) { %>
<tr>
	<td><%= users.username %></td>
	<td><%= users.password %></td>
	<td><%= users.fname %></td>
	<td><%= users.lname %></td>
	<% data.useraddress.forEach(function (useradd) { %>
	<td><%= useradd.address1 %></td>
	<td><%= useradd.address2 %></td>
	<% }); %>	
	</tr>
<% }); %>	
</table>